<% if article.published_on && article.published_on <= Date.today %>
  <li>
    <span class="news"><%= Article::TAGS[article.tags.to_sym] %></span>
    <span class="date"><%= l(article.published_on, :format => "%Y/%m/%d") %></span>
    <span class="heading"><%= article.heading.present? ? article.heading : '' %></span>
  </li>
<% elsif signed_in? %>
  <li class="disabled">
    <span class="news"><%= Article::TAGS[article.tags.to_sym] %></span>
    <span class="date"><%= l(article.published_on, :format => "%Y/%m/%d") %></span>
    <span class="heading"><%= article.heading.present? ? article.heading : '' %></span>
  </li>
<% end %>

<% if signed_in? %>
  <div class="buttons">
    <div class="edit_button"><%= link_to t('articles.edit'), edit_article_path(article) %></div>
    <div class="delete_button"><%= link_to t('articles.delete'), article, :method => :delete, :confirm => "You sure?", :title => "Delete article" %></div>
  </div>
<% end %>
