<div id="signup">
  <%= form_for(@user) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="field">
      <%= f.label t('users.name') %><br>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label t('users.email') %><br>
      <%= f.text_field :email %>
    </div>
    <div class="field">
      <%= f.label t('users.password') %><br>
      <%= f.password_field :password %>
    </div>
    <div class="field">
      <%= f.label t('users.password_confirmation') %><br>
      <%= f.password_field :password_confirmation %>
    </div>
    <div class="actions">
      <%= f.submit t('settings.submit') %>
    </div>
  <% end %>
  <div>
    <%= gravatar_for @user %>
    <%= link_to t('users.change_gravatar'), "http://gravatar.com/emails" %>
  </div>
</div>
