        <li>
          <div class="disc_image">
          <% if discography.url %>
            <%= link_to image_tag('discographies/disc_' + discography.id.to_s + '.jpg', :size => '180x180'), discography.url, :target => '_blank' %>
          <% else %>
            <%= image_tag('discographies/disc_' + discography.id.to_s + '.jpg', :size => '180x180') %>
          <% end %>
          </div>
          <div class="disc_detail">
          <% if discography.title && discography.artist %>
            <div class="title">
              <% if discography.url %>
                <%= link_to discography.title + ' / ' + discography.artist, discography.url, :target => '_blank' %>
              <% else %>
                <%= discography.title %> / <%= discography.artist %>
              <% end %>
              <% if discography.updated_at && discography.updated_at >= Date.today.advance(:months => -1) %>
                <div class="new">new</div>
              <% end %>
            </div>
          <% end %>
          <div class="release_date"><span><%= t('discographies.release_date') %></span><%= l(discography.release_date, :format => :long) %></div>
          <% if discography.players.present? %>
            <div class="artists"><span><%= t('discographies.artists') %></span><%= discography.players %></div>
          <% end %>
          <% if discography.record_co.present? %>
            <div class="label"><span><%= t('discographies.record_co') %></span><%= discography.record_co %></div>
          <% end %>
          <% if discography.comment.present? %>
            <div class="comments"><%= discography.comment %></div>
          <% end %>

          <% if signed_in? %>
            <div class="edit_button"><%= link_to t('discographies.edit'), edit_discography_path(:id => discography.id) %></div>
          <% end %>
        </div>
      </li>
