<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="description" content="ジャズベーシスト大塚義将 公式ウェブサイト | Jazz Bassist Otsuka Yoshimasa's Official Website">
  <meta name="keywords" content="大塚義将,ベース,ジャズ,スケジュール,Yoshimasa Otsuka,bass,jazz">
  <meta name="viewport" content="width=device-width, initial-scale=0.4, maximum-scale=1, user-scalable=yes">
  <title><%= title %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render :partial => 'shared/google_analytics' %>

<div id="wrapper" class="l">
  <header>
    <%= render :partial => 'shared/nav' %>
  </header>

  <div id="container">
    <% flash.each do |key, value| %>
      <p class="flash <%= key %>"><%= value %></p>
    <% end %>
    <%= yield %>
  </div>

  <footer>
    <div id="open_login">
      <% if signed_in? %>
        <%= link_to t('users.list'), users_path %>
        <%= link_to t('settings.profile'), current_user %>
        <%= link_to t('signout.submit'), signout_path, :method => :delete %>
      <% else %>
        <span><%= link_to t('signin.hidden_link'), signin_path %></span>
      <% end %>
    </div>
  </footer>
  <%= debug(params) if Rails.env.development? %>
</div>

</body>
</html>
